{
    "agentId": "NestAgent1",
    "hassConfigPass":"hass config file path",
    "entityPic" : "path to a pic for Nest",
    "url":"hass api address",
    "urlPass":"hass api password",
    "userName":"user name",
    "password":"password",
    "friendly_name":"device friendly name in hass",
    "deviceType" : "Thermostat"
}
