{
    "identity" : "schedulerz1",
    "zonenum" : 1,
    "modelnode_z1": "tcp://192.168.10.209:22916",
    "serverkey_z1" : "SJ3ZNKcGrdSe-tf-zktR4qHPgAinptjX35wWD062ED0",
    "modelnode_z2": "tcp://192.168.10.198:22916",
    "serverkey_z2" : "SJ3ZNKcGrdSe-tf-zktR4qHPgAinptjX35wWD062ED0",
    "modelnode_z3": "tcp://192.168.10.210:22916",
    "serverkey_z3" : "SJ3ZNKcGrdSe-tf-zktR4qHPgAinptjX35wWD062ED0",
    "modelnode_z4": "tcp://192.168.10.143:22916",
    "serverkey_z4" : "SJ3ZNKcGrdSe-tf-zktR4qHPgAinptjX35wWD062ED0",
    "numNodes":4,
    "control_period":30,
    "MaxNodes":2
}
