{
    "campus": "campus1",
    "building": "building1",
    "unit": "unit1",
    "agentid": "scc_cycling",
    "FanStatus": "FanStatus",
    "ZoneTemperature": "ZoneTemperature",
    "minimum_data_count": 5,
    "area_distribution_threshold": 0.1,
    "debug_flag": true,
    "debug_directory": "/home/volttron/SCC_test"
 }
