{
    "driver_config": {"device_address": "Home Assistant API URL"},
    "driver_type": "homeassistant",
    "registry_config":"config://homeassistant_test.csv",
    "interval": 30,
    "timezone": "UTC",
    "publish_breadth_first_all": false,
    "publish_depth_first": true,
    "publish_breadth_first": false,
    "publish_depth_first_all": true
}

