{% extends 'base.html' %}

{% load static %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">

    {% load bootstrap4 %}
    {% bootstrap_css %}
        <style>
        ul li {
        list-style-type: none;
    }

        .form-row {
            background-color: lightgrey;
        }

        input {
            overflow: hidden;
        }
    .btn-primary {
        background-color: #417690;
        border-color: #417690;
    }
    </style>

<!-- Container -->
<div id="container">
    <!-- Content -->
    <div id="content" class="colM">

        <h1>Password change</h1>
        <div id="content-main">

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-lg btn-primary" name="change_password" type="submit">Change Password</button>
  </form></div>



        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>

{% endblock %}