{
    "agent_id": "simulation",
    "heartbeat_period": 5,
    "positive_dispatch_kw": 15.0,
    "negative_dispatch_kw": -15.0,
    "go_positive_if_below": 0.1,
    "go_negative_if_above": 0.9,
    "sim_start":  "2017-02-02 13:00:00",
    "sim_end": "2017-02-02 16:00:00",
    "sim_speed": 180.0,
    "report_interval": 15,
    "report_file_path": "$VOLTTRON_HOME/run/simulation_out.csv",
    "load_csv_file_path": "~/repos/volttron-applications/kisensum/Simulation/SimulationAgent/data/load_and_pv.csv",
    "load_timestamp_column_header": "local_date",
    "load_power_column_header": "load_kw",
    "load_data_frequency_min": 15,
    "load_data_year": "2015",
    "pv_csv_file_path": "~/repos/volttron-applications/kisensum/Simulation/SimulationAgent/data/nrel_pv_readings.csv",
    "pv_panel_area": 50.0,
    "pv_efficiency": 0.75,
    "pv_data_frequency_min": 30,
    "pv_data_year": "2015",
    "storage_max_charge_kw": 15.0,
    "storage_max_discharge_kw": 15.0,
    "storage_max_soc_kwh": 50.0,
    "storage_soc_kwh": 25.0,
    "storage_reduced_charge_soc_threshold": 0.8,
    "storage_reduced_discharge_soc_threshold": 0.2,
    "storage_setpoint_rule": "oscillation",
    "sim_driver_list": ["simload", "simpv", "simstorage"]
}