{
    "driver_config": {"device_address": "10.1.1.5",            #ip address of the inverter
			"agent_id": "sunspec_inv_agent"},                  # Agent identity
    "driver_type": "sunspec",
    "registry_config":"config://registry_configs/sunspec.csv", #config store
    "interval": 15,                                            
    "heart_beat_point": "Heartbeat",
}
