{
	"simulation_run_time" : "60s",
	"heartbeat_period" : 1,
	"heartbeat_multiplier" : 1,
	"fncs_zpl" : {
					"name" : "FNCS_Volttron_Bridge",
					"time_delta" : "1s",
					"broker" : "tcp://localhost:5570",
					"values" : {
									# place FNCS topics here to forward to VOLTTRON 
									# below is just an example
									"fncsPlayer/exampleTopic" : {
													"topic" : "fncsPlayer/exampleTopic",
													"default" : "0",
													"type" : "double",
													"list" : "false"
												 }
								}
				  },
	# The parameters dictionary is used to populate the agent's 
	# remote vip address.
	"remote_platform_params" : {
		# The root of the address.
		"vip_address": "tcp://127.20.173.167",
		"port": 22916,
		
		# public and secret key for the standalonelistener agent.
		# to obtain an agent public and private key pair you can use volttron-ctl auth keypair.
		# add the publickey to the auth file on the volttron volttron-ctl auth add and follow the prompts.
		"agent_public": "...",
		"agent_secret": "...",
		
		# The command to obtain  the server key is volttron-ctl auth serverkey.
		# The output will include public key: ....
		"server_key": "..."  
	}
}
