{
	"agentid": "schedul_detector",
	"campus": "campus1",
	"building": "building1",
	"unit": "HP7",

	"point_name": "ZAT",
	"alphabet": "abcd",
	"operational_schedule": {
		"monday": ["8:00","18:30"],
		"tuesday": ["6:30","18:30"],
		"wednesday": ["6:30","18:30"],
		"thursday": ["6:30","18:30"],
		"friday": ["6:30","18:30"],
		"saturday": ["0:00","23:59"],
		"sunday": ["0:00","00:00"]
	},
	"output_directory": "/home/rlutes/SCC_test/schedule"

}
