{
    "actuator_id": "simulation.actuator",
    "agent_id": "reference_app",
    "heartbeat_period": 5,
    "positive_dispatch_kw": 150.0,
    "negative_dispatch_kw": -150.0,
    "go_positive_if_below": 0.1,
    "go_negative_if_above": 0.9,
    "sim_start":  "2017-04-30 13:00:00",
    "sim_end": null,
    "sim_speed": 1.0,
    "report_interval": 15,
    "report_file_path": "$VOLTTRON_HOME/run/simulation_out.csv",
    "load_csv_file_path": "~/repos/volttron-applications/kisensum/ReferenceAppAgent/data/load_and_pv.csv",
    "load_timestamp_column_header": "local_date",
    "load_power_column_header": "load_kw",
    "load_data_frequency_min": 15,
    "load_data_year": "2015",
    "pv_csv_file_path": "~/repos/volttron-applications/kisensum/ReferenceAppAgent/data/nrel_pv_readings.csv",
    "pv_panel_area": 1000.0,
    "pv_efficiency": 0.75,
    "pv_data_frequency_min": 30,
    "pv_data_year": "2015",
    "storage_max_charge_kw": 150.0,
    "storage_max_discharge_kw": 150.0,
    "storage_max_soc_kwh": 500.0,
    "storage_soc_kwh": 450.0,
    "storage_reduced_charge_soc_threshold": 0.8,
    "storage_reduced_discharge_soc_threshold": 0.2,
    "sim_driver_list": [
        "campus1/building1/simload",
        "campus1/building1/simpv",
        "campus1/building1/simstorage"
    ],
    "venagent_id": "venagent",
    "opt_type": "optIn",
    "report_interval_secs": 30,
    "baseline_power_kw": 500
}