    .top-buffer { margin-top:5px; }

    .no-gutter-col {
        margin-right : 0;
        margin-left : 0;
    }
    .col-centered{
        float: none;
        margin: 0 auto;
    }
        div.vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
        max-width: 150px;
    }
    .table-row {
        display: table;
        table-layout: fixed;
        width: 80%;
        max-height: 25%;
        margin-left: 7%;
    }

    .tableInDiv {
        overflow-y: scroll;
        max-height: 200px;
    }

    .table-row [class^="col-"] {
        display: table-cell;
        float: none;
        width: 100%;
        text-align: center;
    }

    select[multiple] {
        max-width: 200px;
    }
    div {
        font-size: 12px;
    }

    h6 {
        font-weight: normal;
        color: #666;
        font-size: 13px;
    }
