{
    "driver_config": {
        "csv_file_path" : "",
        "timestamp_column_header" : "local_date",
        "power_column_header" : "load_kw",
        "data_frequency_min" : 15,
        "data_year" : "2015"
    },
    "driver_type": "simload",
    "registry_config": "config://simload.csv",
    "interval": 6,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}
