{
    "driver_config": {
        "csv_file_path" : "",
        "max_power_kw" : 10.0,
        "panel_area" : 50.0,
        "efficiency" : 0.75,
        "data_frequency_min" : 30,
        "data_year" : "2015"
    },
    "campus": "campus1",
    "building": "building1",
    "unit": "unit1",
    "driver_type": "simpv",
    "registry_config":"config://simpv.csv",
    "interval": 6,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}