{
    "driver_config": {
        "max_charge_kw" : 15.0,
        "max_discharge_kw" : 15.0,
        "max_soc_kwh" : 50.0,
        "soc_kwh" : 25.0,
        "reduced_charge_soc_threshold" : 0.8,
        "reduced_discharge_soc_threshold" : 0.2
    },
    "campus": "campus1",
    "building": "building1",
    "unit": "unit1",
    "driver_type": "simstorage",
    "registry_config":"config://simstorage.csv",
    "interval": 6,
    "timezone": "US/Pacific",
    "heart_beat_point": "Heartbeat"
}