{
    "agentid": "simulation.driver",
    "driver_config_list": [
        "~/repos/volttron/applications/kisensum/Simulation/SimulationDriverAgent/simload.config",
        "~/repos/volttron/applications/kisensum/Simulation/SimulationDriverAgent/simmeter.config",
        "~/repos/volttron/applications/kisensum/Simulation/SimulationDriverAgent/simpv.config",
        "~/repos/volttron/applications/kisensum/Simulation/SimulationDriverAgent/simstorage.config"
	],
	"driver_scrape_interval": 0.05
}
